@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color:#ededed;
    --main-color: #00f0a4;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin-right: 3.5rem;
}

.navbar{
    position: relative;
}

.navbar a{
   font-size: 1.7rem; 
   color: var(--text-color);
   font-weight: 500;
   margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon{
    position: relative;
    font-size:3.6rem ;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 18rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('home4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 68rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size:5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span{
    color: var(--text-color);
}

.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3{
    font-size: 2.4rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3{
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before{
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.text-animates{
    /* background-color: #00abf0; */
    color: pink;
    font-size: 20px;
    font-style: italic;
}

.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border:  .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
    background-color: var(--main-color);
}

.btn-box .btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width: 100%; 
}



.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover{
  color: var(--bg-color);
}

.home-sci a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: transparent;
    
}

.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}

.about {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
   background: var(--second-bg-color);
   padding-bottom: 6rem;
}

.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom:3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content{
    text-align: center;
}

.about-content h3{
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
    font-size: 1rem;
}

.btn-box.btns a::before{
    background: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}
.education-column .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left:2rem ;
}

.education-box .education-content::before{
   content: '';
   position: absolute;
   top: 0;
   left: -1.1rem;
   width: 2rem;
   height: 2rem;
   background: var(--main-color);
   border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem ;
}

.education-content .content h3{
    font-size: 2rem;
}

.education-content .content p{
   font-size: 1.6rem;
   padding-top: .0 5rem;
}

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .skills-box{
    position: relative;
}

.skills-column .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem ;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}

.skills-content .A{
    padding: 1rem 0;
}

.skills-content .A h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .A h3 span{
    color: var(--text-color);
}

.skills-content .A .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .A .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}
/* -----A------- */

.skills-content .B{
    padding: 1rem 0;
}

.skills-content .B h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .B h3 span{
    color: var(--text-color);
}

.skills-content .B .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .B .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}

/* ------B----- */
.skills-content .C{
    padding: 1rem 0;
}

.skills-content .C h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .C h3 span{
    color: var(--text-color);
}

.skills-content .C .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .C .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}
/* -------C----------- */

.skills-content .D{
    padding: 1rem 0;
}

.skills-content .D h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .D h3 span{
    color: var(--text-color);
}

.skills-content .D .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .D .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}

/* -----D----- */

.skills-content .E{
    padding: 1rem 0;
}

.skills-content .E h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .E h3 span{
    color: var(--text-color);
}

.skills-content .E .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .E .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}
/* -------E------- */

.skills-content .F{
    padding: 1rem 0;
}

.skills-content .F h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .F h3 span{
    color: var(--text-color);
}

.skills-content .F .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .F .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}
/* -------F------ */

.skills-content .G{
    padding: 1rem 0;
}

.skills-content .G h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .G h3 span{
    color: var(--text-color);
}

.skills-content .G .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .G .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}

/* -----G-------- */

.skills-content .H{
    padding: 1rem 0;
}

.skills-content .H h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .H h3 span{
    color: var(--text-color);
}

.skills-content .H .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .H .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}
/* -------H-------- */

.skills-content .I{
    padding: 1rem 0;
}

.skills-content .I h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .I h3 span{
    color: var(--text-color);
}

.skills-content .I .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .I .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}
/* ------I----- */

.skills-column:nth-child(1) .skills-content .A .bar span{
    width:85% ;
}

.skills-column:nth-child(1) .skills-content .B .bar span{
    width:60% ;
}


.skills-column:nth-child(1) .skills-content .C .bar span{
    width:65% ;
}

.skills-column:nth-child(1) .skills-content .D .bar span{
    width:70% ;
}

.skills-column:nth-child(1) .skills-content .E .bar span{
    width:70% ;
}

.skills-column:nth-child(1) .skills-content .F .bar span{
    width:75% ;
}
.skills-column:nth-child(1) .skills-content .G .bar span{
    width:75% ;
}

.skills-column:nth-child(1) .skills-content .H .bar span{
    width:70% ;
}


.skills-column:nth-child(1) .skills-content .I .bar span{
    width:60% ;
}

/* Work */
.my works{
    min-height: auto;
    padding-bottom: 7rem;
    /* background: var(--second-bg-color);  */
}

.my works h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color)

}
/* .my works h2 span{
    color:var(--main-color);
} */


.my works-arrow {
    margin: 2rem 0;
  }
  
  .my works-arrow a {
    font-size: 1rem;
    text-decoration: none;
    color:var(--main-color);
  }
  
  .my works-arrow-2 {
    margin: 2rem 0;
  }
  
  .my works-arrow-2 a {
    font-size: 1rem;
    text-decoration: none;
    color:var(--main-color);
    display: none;
  }

/* Project */

.portfolio-content {
    display: flex;
    /* justify-content: space-between; */
    /* Adjust as needed */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if there isn't enough space */
}

.proj-1,
.proj-2 {
    width: calc(50% - 20px);
    /* Adjust the width as needed */
    margin-bottom: 20px;
    /* Add margin between items */
}
.portfolio {
    /* background: var(--main-color); */
    background: var(--bg-color);
    color: var(--text-color);
    padding: 6rem 0;
  }
  
  .proj-heading h1 {
    text-align: center;
    color:var(--main-color);
    font-size: 2.3rem;
    font-weight: 700;
    margin: 3rem 0;
  }
  
  .proj-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .proj-1 img {
    height: 330px;
    width: 380px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 20px 10px -10px rgba(163, 224, 220, 0.31);
    margin-right: 1.7rem;
  }
  
  .proj-1 .proj1-details {
    width: 32rem;
  }
  
  .proj-1 .proj1-details i {
    font-size: 1.5rem;
    color: var(--main-color);
  }
  
  .proj-1 .proj1-details h2 {
    font-size: 2rem;
    color: var(--main-color);
  }
  
  .proj-1 .proj1-details p {
    font-size: 1.3rem;
    color: var(--main-color);
    font-weight: 600;
  }
  
  .proj-1 .proj1-details button {
    background: #f0f0e6;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 150px;
    border: none;
    border-bottom: 2px solid var(--main-color);
  }
  
  .proj-1 .proj1-details button a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.1rem;
    transition: 0.2s ease-in-out;
    text-align: center;
    transition: 0.3s ease-in-out;
  }
  
  .proj-1 .proj1-details button .fas {
    font-size: 0.7rem;
    padding: 0.3rem;
    transition: 0.2s ease-in-out;
  }
  
  .proj-1 .proj1-details button:hover {
    background: var(--main-color);
  }
  
  .proj-1 .proj1-details button:hover a,
  .proj-1 .proj1-details button:hover .fas {
    color: #f0f0e6;
  }
  
  /* ////.....proj2.....//// */
  
  .proj-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  
  .proj-2 img {
    height: 330px;
    width: 380px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 20px 10px -10px rgba(163, 224, 220, 0.31);
    margin-right: 1.7rem;
  }
  
  .proj-2 .proj2-details {
    width: 32rem;
  }
  
  .proj-2 .proj2-details i {
    font-size: 1.5rem;
    color: var(--main-color); 
  }
  
  .proj-2 .proj2-details h2 {
    font-size: 2rem;
     color:var(--main-color); 
  }
  
  .proj-2 .proj2-details p {
    font-size: 1.3rem;
     color: var(--main-color);
    font-weight: 600;
  }
  
  .proj-2 .proj2-details button {
    background: #f0f0e6;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 150px;
    border: none;
    border-bottom: 2px solid var(--main-color);
  }
  
  .proj-2 .proj2-details button a {
    text-decoration: none;
    /* color: #07374a; */
    font-size: 1.1rem;
    transition: 0.2s ease-in-out;
    text-align: center;
    transition: 0.3s ease-in-out;
  }
  
  .proj-2 .proj2-details button .fas {
    font-size: 0.7rem;
    padding: 0.3rem;
    transition: 0.2s ease-in-out;
  }
  
  .proj-2 .proj2-details button:hover {
    background:var(--main-color); 
  }
  
  .proj-2 .proj2-details button:hover a,
  .proj-2 .proj2-details button:hover .fas {
    color: #f0f0e6;
  }
  
  .more-work {
    text-align: center;
    margin: 3rem 0 1rem 0;
  }
  
  .more-work p {
    font-size: 1.6rem;
     color: var(--main-color); 
    font-weight: 500;
  }
  .more-work a {
    text-decoration: none;
    color: #f0f0e6;
    font-size: 1.3rem;
  }
  
  .more-work a:hover {
    border-bottom: 2px solid var(--main-color);
  }

  /* --------- */


.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}

.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
   width: 100%;
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
   resize: none;
}

.contact form .btn-box.btns .btn{
    cursor: pointer;
}

.footer{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: var(--second-bg-color);
}


.footer-text,
.footer-iconTop{
    position: relative;
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover:before{
    width: 100%;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i{
    color: var(--main-color);
}

/* ANIMATION RELOAD  AND SCROLL*/
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color); 
    z-index: 98;
}
.animates{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: var(--bg-color); */
    color: aliceblue;

}

.animate.home-img{
    width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate
{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll{
    transition: 1s ease;
    transition-delay:calc(.3s / var(--i)) ;
    animation: none;
}

section:nth-child(odd).animate.scroll,
.footer .animate.scroll{
    background: var(--second-bg-color);
}

.education .education-box .animate.scroll{
    width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.my-works.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll
{
    transition-delay:calc(.3s * var(--i));
    width: 0;
}


/* BREAKPOINTS */
@media(max-width: 1200px){
    html{
        font-size:55% ;
    }
}

@media(max-width: 991px){
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}

@media(max-width: 850px){
    .animate.home-img{
        width: 55%;
    }
}

@media(max-width: 768px){
    .header{
        background: var(--bg-color);
    }
    
    #menu-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .navbar.active{
        left: 0;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover{
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    html{
        font-size: 50%;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px){
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .work-arrow {
        display: none;
      }
    
      .right-content h1 {
        margin-top: 3.2rem;
      }
    
      .proj-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    
      .proj-1 img {
        height: 230px;
        width: 290px;
        margin-bottom: 0.5rem;
      }
    
      .proj-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    
      .proj-2 img {
        height: 250px;
        width: 290px;
        margin-bottom: 0.5rem;
      }
    
      .work-arrow-2 a {
        font-size: 1.3rem;
        text-decoration: none;
        /* color: #35b4de; */
        display: block;
        text-align: center;
      }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px){
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }

}

/* KEYFRAMES ANIMATIONS */
@keyframes homeBgText{
    0%,
    10%,
    100%{
        background-position: -33rem 0;
    }

    65%,
    85%{
        background-position:0 0 ;
    }
}

@keyframes homeCursorText{
    0%,
    10%,
    100%{
        width: 0;
    }

    65%,
    78%,
    85%{
        width: 100%;
        opacity: 1;
    }
    75%,
    81%{
        opacity: 0;
    }
}

@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}
